.App {
	text-align: center;
	margin: 0 auto;
	width: 700px;
}
.save-button {
	width: 200px;
	margin: 15px auto;
	padding: 10px;
	border-radius: 10px;
	transition: 0.6s ease-in-out;
}
.save-button:hover {
	cursor: pointer;
	background-color: bisque;
}
